body {
    background-color: rgb(221, 219, 219);
    margin: 0;
    font-family: 'Roboto', sans-serif;;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    box-sizing: border-box;
    background-color: rgb(24, 23, 23);
    border: black solid 5px;
    border-radius: 5px;
    height: 600px;
    min-height: 575px;
    width: 390px;
    min-width: 275px;
    padding: 10px;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);;

}

.display {
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
    height: 20%;
    min-height: 110px;
    margin: 10px;
    background-color: rgb(83, 81, 81);
    color: white;
}

.output {
    margin-top: 30px;
    margin-right: 10px;
    font-size: 3.5em;
    text-align: right;
}

.button-grid {
    box-sizing: border-box;
    margin-top: 20px;
    height: 75%;
    bottom: 0;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.zero {
    grid-column: 1/3;
}

.buttons {
    margin: 5px;
    border-radius: 50%;
    background-color: rgb(83, 81, 81);
    border: none;
    box-shadow: 0 6px #353535;
    color: white;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    background-clip: padding-box;
}

.buttons:hover {
    opacity: 0.6;
}

.buttons:active {
    transform: translateY(2px);
    box-shadow: 0 3px;
}

.operator {
    background-color: orange;
}

.lightGrey {
    background-color: rgb(158, 157, 157);
}

